body {
  color: rgba(0, 0, 0, 0.8);
  font-family: "adobe-garamond-pro-1", "adobe-garamond-pro-2", Constantia, "Times New Roman", Times, serif; }
  .no-rgba body {
    color: #333; }

.fade-out-overlay {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
