html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 21px;
  *font-size: small; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

ul, ol {
  margin-left: 1.8em; }

ol {
  list-style-type: decimal; }

td {
  vertical-align: top; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em; }

a:hover, a:active {
  outline: none; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline; }

textarea {
  overflow: auto;
  vertical-align: text-top; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #fe57a1; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

.ir {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  direction: ltr;
  background-repeat: no-repeat; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

body {
  color: #333;
  color: rgba(0, 0, 0, 0.8);
  /* font-family: museo-sans-1, museo-sans-2, "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-family: "adobe-garamond-pro-1", "adobe-garamond-pro-2", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 300; } */
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a:link, a:visited, a:active, a:focus {
  color: #333;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: color 0.4s linear;
  -webkit-transition-delay: 0.1s;
  -moz-transition: color 0.4s linear 0.1s;
  -ms-transition: color 0.4s linear 0.1s;
  -o-transition: color 0.4s linear 0.1s;
  transition: color 0.4s linear 0.1s; }
a.plain:link, a.plain:visited, a.plain:active, a.plain:focus {
  text-decoration: none; }
a:hover {
  color: #cc0099;
  color: rgba(204, 0, 153, 0.8); }
a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

strong, th {
  font-weight: bold; }

small {
  font-size: 69%; }

input:invalid, textarea:invalid {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 5px 0 #f0dddd;
  -moz-box-shadow: 0 0 5px 0 #f0dddd;
  box-shadow: 0 0 5px 0 #f0dddd; }

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: white url('../img/bg-body-mobile.jpg?1337982730') no-repeat top center;
  background-attachment: fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  margin: 0 auto;
  min-height: 100%;
  width: 85%; }
  body body {
    font-size: 100%;
    line-height: 1.3125em; }
  body html > body {
    font-size: 16px; }

img {
  max-width: 100%; }

article {
  padding-top: 1.3125em;
  padding-bottom: 1.3125em; }
  article address {
    font-style: normal;
    margin-bottom: 1.3125em;
    *zoom: 1; }
    article address:after {
      content: "";
      display: table;
      clear: both; }
    article address .contact dl {
      margin: 0;
      *zoom: 1; }
      article address .contact dl:after {
        content: "";
        display: table;
        clear: both; }
      article address .contact dl dt {
        color: #000000;
        font-weight: 700;
        float: left;
        width: 67px; }
      article address .contact dl dd {
        float: left; }
  article p {
    margin-bottom: 1.3125em; }
    article p.fn {
      color: #000000;
      /*font-family: league-gothic-1, league-gothic-2, "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;*/
      font-family: 'Dosis', sans-serif;
      text-transform: uppercase;
      font-size: 2.625em;
      line-height: 1em;
      margin-bottom: 0.5em; }
  article .description p {
    font-size: 0.8125em;
    line-height: 1.615384615385em;
    margin-bottom: 1.615384615385em; }
    article .description p:last-child {
      margin-bottom: 0em; }

.cv {
  align-items: center;
  display: flex;
}

.cv > a {
  display: flex;
  margin-left: 0.75em;
  transition: fill 0.4s linear 0.1s; }
}

.cv > a:hover > img {
  fill: #cc0099;
}

.cv > a > img {
  height: 1em;
  width: 1em;
}

.lt-ie9 article .description {
  width: 444px; }

@media only screen and (min-width: 480px) {
  body {
    width: 94%; }

  article address {
    margin-bottom: 0em; }
    article address .contact {
      float: left; }
  article p.adr {
    float: left;
    margin-right: 7.142857142857%; } }
/*/mediaquery*/
@media only screen and (min-width: 640px) {
  body {
    width: 90%;
    /* font-size: 1.3125em; */
    font-size: 1.5em;
    /* line-height: 1.52380952381em; } */
    line-height: 1.33333333333333em; }

  article {
    padding-top: 1.52380952381em;
    padding-bottom: 1.52380952381em; }
    article address {
      margin-bottom: 0em; }
      article address .contact dl dt {
        width: 84px; }
    article p {
      margin-bottom: 1.52380952381em; }
      article p.fn {
        /* font-size: 3.047619047619em; */
        font-size: 3em;
        line-height: 1.0em; }
      article p.adr {
        margin-right: 5.263157894737%; }
    article .description p {
      /* font-size: 1em; */
      font-size: 0.85714285714286em;
      /* line-height: 1.52380952381em; */
      line-height: 1.33333333333333em;
      margin-bottom: 1.52380952381em; } }
/*/mediaquery*/
/*/mediaquery*/
@media only screen and (min-width: 960px) {
  html.backgroundsize {
    background-image: url('../img/bg-body.jpg?1337982730');
    background-position: top right; }

  article .description {
    width: 55%; } }
/*/mediaquery*/
@media only screen and (min-width: 1024px) {
  body {
    width: 992px; }

  article address .contact dl dt {
    width: 84px; }

  article p.adr {
    margin-right: 32px; } }
/*/mediaquery*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
