@import "settings";

body {
  color: rgba(0, 0, 0, .8);
  font-family: $base-font-families;
  .no-rgba & {
    color: #333;
  }
}

.fade-out-overlay {
  @include transition-property(background-color);
  @include transition-duration(2s);
  @include transition-timing-function(ease-in);
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0; left: 0;
}
