{% layout "layouts/plain.html" %} {% block content %}
<main class="flex min-h-screen items-center justify-center bg-pink-700">
  <div
    class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8"
  >
    <h2 class="animate-pulse text-6xl font-bold leading-10 text-white">404</h2>
    <p class="mt-4 text-lg leading-6 text-pink-200">
      Take me
      <a
        href="/"
        class="font-semibold underline transition duration-150 ease-in-out"
      >
        home
      </a>
    </p>
  </div>
</main>
{% endblock %}
