:root {
  --primary: hsl(328, 85%, 46%);
  --primary-bg: hsl(328, 85%, 46%);
  --on-primary: hsl(216, 33%, 97%);

  --primary-dark: hsl(326, 90%, 39%);
  --primary-light: hsl(336, 100%, 77%);

  --secondary: hsl(178, 78%, 57%);
  --secondary-bg: hsl(178, 78%, 57%);
  --on-secondary: hsl(210, 24%, 16%);

  --secondary-dark: hsl(182, 85%, 39%);
  --secondary-light: hsl(174, 96%, 78%);

  --surface: hsl(216, 33%, 97%);
  --on-surface: hsl(210, 24%, 16%);
  --on-surface-high: hsl(209, 20%, 25%);
  --on-surface-medium: hsl(211, 12%, 43%);

  --background: hsl(216, 33%, 97%);

  --gradient-left: hsl(214, 15%, 91%);

  --linkedin: hsl(201, 100%, 35%);
  --xing: hsl(181, 96%, 20%);
  --github: hsl(0, 0%, 20%);
  --gitlab: hsl(20, 97%, 57%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: hsl(210, 24%, 16%);
    --on-surface: hsl(214, 15%, 91%);
    --on-surface-high: hsl(210, 16%, 82%);
    --on-surface-medium: hsl(211, 10%, 53%);

    --background: hsl(210, 24%, 16%);

    --gradient-left: hsl(209, 20%, 25%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--background);
  background-image: linear-gradient(
    to right,
    var(--gradient-left) 0%,
    var(--background) 100%
  );
  color: var(--on-surface);
  display: -ms-grid;
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -ms-grid-rows: 1fr 5.5rem;
  grid-template-rows: 1fr 5.5rem;
  line-height: 1.4;
  margin: 0;
  max-width: 90rem;
  min-height: 100vh;
  padding: 2rem 0.5rem 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

h1 {
  color: var(--on-surface-high);
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 2.25rem;
  font-style: italic;
  letter-spacing: -0.05rem;
  line-height: 2.5rem;
  margin: 0;
}

h1 + p {
  color: var(--primary-dark);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
  text-align: center;
}

small {
  color: var(--on-surface-medium);
  font-size: 0.667rem;
  line-height: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a:link,
a:visited {
  color: var(--on-surface-high);
  -webkit-text-decoration-color: var(--on-surface-medium);
  text-decoration-color: var(--on-surface-medium);
  text-underline-offset: 0.25rem;
  transition-duration: 0.25s;
  transition-property: color, text-decoration-color;
  transition-timing-function: ease-in-out;
}

a:focus,
a:active,
a:hover {
  color: var(--primary-dark);
  -webkit-text-decoration-color: var(--on-surface);
  text-decoration-color: var(--on-surface);
}

footer {
  color: var(--on-surface-medium);
  padding: 2rem 0;
  transition-property: text-decoration-color;
  transition-timing-function: ease-in-out;
}

footer a:link,
footer a:visited {
  color: var(--on-surface-medium);
  -webkit-text-decoration-color: var(--surface);
  text-decoration-color: var(--surface);
}

footer a:focus,
footer a:active,
footer a:hover {
  -webkit-text-decoration-color: var(--on-surface-medium);
  text-decoration-color: var(--on-surface-medium);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

::-moz-selection {
  background-color: var(--secondary-light);
  color: var(--on-secondary);
  text-shadow: none;
}

::selection {
  background-color: var(--secondary-light);
  color: var(--on-secondary);
  text-shadow: none;
}

.h-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-bottom: 0;
}

.h-card__photo {
  border-radius: 9999px;
  margin-bottom: 1rem;
  opacity: 0.9;
}

.h-card__contact-data {
  display: flex;
}

.h-card__contact-data > p {
  flex: 1 0 auto;
  margin-bottom: 1.5rem;
}

.h-card__contact-data > p:first-child {
  margin-right: 1.5rem;
}

.h-card__contact-data > p:last-child {
  display: flex;
  flex-direction: column;
}

.h-card__contact-data > p > a,
.h-card__contact-data > p > span {
  display: inline-block;
  line-height: 1.5;
}

.h-card__contact-data > p > span:nth-child(-n + 2),
.h-card__contact-data > p > span:last-child {
  display: block;
}

.download {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.download__btn:link,
.download__btn:visited {
  background-color: var(--primary);
  border-radius: 9999px;
  color: var(--on-primary);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
}

.download__btn:focus,
.download__btn:active,
.download__btn:hover {
  background-color: var(--primary-dark);
}

.download__btn > svg {
  margin-right: 0.5rem;
}

.introduction > p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.introduction > p + p {
  margin-top: 1rem;
}

.social-bar {
  display: flex;
}

.social-bar > .social-bar__item + .social-bar__item {
  margin-left: 1rem;
}

.social-bar a {
  text-decoration: none;
}

.social-bar__item--linkedin > a:focus,
.social-bar__item--linkedin > a:active,
.social-bar__item--linkedin > a:hover {
  color: var(--linkedin);
}

.social-bar__item--xing > a:focus,
.social-bar__item--xing > a:active,
.social-bar__item--xing > a:hover {
  color: var(--xing);
}

.social-bar__item--github > a:focus,
.social-bar__item--github > a:active,
.social-bar__item--github > a:hover {
  color: var(--github);
}

.social-bar__item--gitlab > a:focus,
.social-bar__item--gitlab > a:active,
.social-bar__item--gitlab > a:hover {
  color: var(--gitlab);
}

@media (min-width: 30em) {
  .introduction,
  .footer__inner {
    margin: 0 auto;
    max-width: 33rem;
  }
}

@media (min-width: 48em) {
  html {
    font-size: 112.5%;
  }

  body {
    -ms-grid-rows: 1fr 4.8888rem;
    grid-template-rows: 1fr 4.8888rem;
    line-height: 1.3333;
    padding: 1.7777rem 0.8888rem 0;
  }

  h1 {
    letter-spacing: -0.04rem;
    line-height: 2.6666rem;
  }

  h1 + p {
    line-height: 1.3333rem;
  }

  small {
    line-height: 0.8888rem;
  }

  footer {
    padding: 1.7777rem 0;
  }

  .h-card__photo {
    margin-bottom: 1.3333rem;
  }

  .h-card__contact-data > p {
    margin-bottom: 1.3333rem;
  }

  .h-card__contact-data > p:first-child {
    margin-right: 1.3333rem;
  }

  .h-card__contact-data > p > a,
  .h-card__contact-data > p > span {
    line-height: 1.3333;
  }

  .download {
    line-height: 1.3333;
    margin-bottom: 0.8888rem;
  }

  .download__btn:link,
  .download__btn:visited {
    padding: 0.4444rem 0.8888rem;
  }

  .download__btn > i {
    margin-right: 0.4444rem;
  }

  .introduction > p + p {
    margin-top: 0.8888rem;
  }
}

@media (min-width: 62em) {
  html {
    font-size: 137.5%;
  }

  body {
    line-height: 1.4545;
    padding: 1.4545rem 0.7272rem 0;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.04rem;
    line-height: 1.8181rem;
  }

  h1 + p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4545;
    margin-bottom: 1.0909rem;
  }

  picture {
    align-self: center;
  }

  small {
    line-height: 0.7272rem;
  }

  a:link,
  a:visited {
    color: var(--on-surface);
  }

  a:focus,
  a:active,
  a:hover {
    color: var(--primary-dark);
  }

  footer {
    padding: 1.4545rem 0;
  }

  .h-card {
    align-items: flex-start;
  }

  .h-card__photo {
    margin-bottom: 1.0909rem;
  }

  .h-card__contact-data {
    flex-direction: column;
  }

  .h-card__contact-data > p {
    margin-bottom: 1.4545rem;
  }

  .h-card__contact-data > p:first-child {
    margin-bottom: 1.0909rem;
    margin-right: 0;
  }

  .h-card__contact-data > p:last-child {
    display: block;
    margin-bottom: 1.8181rem;
  }

  .h-card__contact-data > p > a,
  .h-card__contact-data > p > span {
    line-height: 1.4545;
  }

  .download {
    display: inline-flex;
    line-height: 1.4545;
    margin-bottom: 0;
  }

  .download__btn:link,
  .download__btn:visited {
    font-size: 1rem;
    padding: 0.3636rem 0.7272rem;
  }

  .introduction,
  .footer__inner {
    margin: 0;
    max-width: 100%;
  }

  .introduction {
    margin-top: 8.7272rem;
  }

  .introduction > p + p {
    margin-top: 1.0909rem;
  }

  @supports (display: grid) {
    body {
      grid-template-rows: 1fr 4.3636rem;
    }

    main {
      display: grid;
      grid-column-gap: 1.0909rem;
      grid-template-columns: 1fr repeat(3, 3rem) repeat(12, 1fr);
      max-width: 66rem;
    }

    footer {
      display: grid;
      grid-column-gap: 1.0909rem;
      grid-template-columns: 1fr repeat(3, 3rem) repeat(12, 1fr);
    }

    aside {
      grid-column: 2 / 5;
    }

    .introduction,
    .footer__inner {
      grid-column: 6 / 14;
    }
  }
}

@media (min-width: 90em) {
  body {
    margin: 0 auto;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
