//-----------------------------------------------
// Module styles
//-----------------------------------------------

article {
  @include padding-leader(1);
  @include padding-trailer(1);
  address {
    font-style: normal;
    @include margin-trailer(1);
    @include pie-clearfix;
    .contact {
      dl {
        margin: 0;
        @include pie-clearfix;
        dt {
          color: #000;
          font-weight: 700;
          float: left;
          width: 67px;
        }
        dd {
          float: left;
        }
      }
    }
  }
  p {
    &.fn {
      color: #000000;
      font-family: league-gothic-1, league-gothic-2, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
      text-transform: uppercase;
      @include adjust-font-size-to(42px, 2);
      @include margin-trailer(0.5, 21px);
    }
    @include margin-trailer(1);
  }
  .description {
    p {
      @include adjust-font-size-to(13px, 1, 16px);
      @include margin-trailer(1.61538461538462, 21px);
      &:last-child {
        @include margin-trailer(0);
      }
    }
  }
}
.lt-ie9 {
  article {
    .description {
      width: 444px;
    }
  }
}