// This file must be imported before loading html5-boilerplate

$selected-font-color:       #ffffff; // color for selected text
$selected-background-color: #fe57a1; // bg-color for selected text

$base-font-size:   16px;
$base-line-height: 21px;
