<div
  x-show="open"
  class="fixed z-10 inset-0 overflow-y-auto"
  style="display: none"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div
      x-show="open"
      x-description="Background overlay, show/hide based on modal state."
      x-transition:enter="ease-out duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="ease-in duration-200"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="fixed inset-0 transition-opacity"
    >
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;

    <div
      x-show="open"
      x-description="Modal panel, show/hide based on modal state."
      x-transition:enter="ease-out duration-300"
      x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
      x-transition:leave="ease-in duration-200"
      x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
      x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      @click.away="open = false"
      class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-headline"
    >
      <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
        <button
          @click="open = false"
          type="button"
          class="text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150"
          aria-label="Close"
        >
          <svg
            class="h-6 w-6"
            x-description="Heroicon name: x"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="sm:flex sm:items-start">
        <div
          class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-teal-100 sm:mx-0 sm:h-10 sm:w-10"
        >
          <svg
            x-description="Fontawesome icon: at"
            class="h-6 w-6 text-teal-600"
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M256 8C118.941 8 8 118.919 8 256c0 137.058 110.919 248 248 248
              52.925 0 104.68-17.078 147.092-48.319 5.501-4.052 6.423-11.924
              2.095-17.211l-5.074-6.198c-4.018-4.909-11.193-5.883-16.307-2.129C346.93
              457.208 301.974 472 256 472c-119.373 0-216-96.607-216-216
              0-119.375 96.607-216 216-216 118.445 0 216 80.024 216 200 0
              72.873-52.819 108.241-116.065 108.241-19.734
              0-23.695-10.816-19.503-33.868l32.07-164.071c1.449-7.411-4.226-14.302-11.777-14.302h-12.421a12
              12 0 0 0-11.781 9.718c-2.294 11.846-2.86 13.464-3.861
              25.647-11.729-27.078-38.639-43.023-73.375-43.023-68.044 0-133.176
              62.95-133.176 157.027 0 61.587 33.915 98.354 90.723 98.354 39.729
              0 70.601-24.278 86.633-46.982-1.211 27.786 17.455 42.213 45.975
              42.213C453.089 378.954 504 321.729 504 240 504 103.814 393.863 8
              256 8zm-37.92 342.627c-36.681 0-58.58-25.108-58.58-67.166 0-74.69
              50.765-121.545 97.217-121.545 38.857 0 58.102 27.79 58.102 65.735
              0 58.133-38.369 122.976-96.739 122.976z"
            />
          </svg>
        </div>
        <div class="flex-auto mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
          <h3
            class="text-2xl leading-8 font-bold tracking-tight text-gray-900 sm:text-3xl sm:leading-9"
            id="modal-headline"
          >
            Get in touch
          </h3>
          <form
            action="/"
            method="POST"
            name="contact"
            class="grid grid-cols-1 gap-y-6 mt-6"
            netlify-honeypot="bot-field"
            data-netlify="true"
          >
            <div class="hidden">
              <label>
                Don’t fill this out if you're human:
                <input name="bot-field" />
              </label>
            </div>
            <div>
              <label for="full_name" class="sr-only">
                Full name
              </label>
              <input
                id="full_name"
                name="full_name"
                type="text"
                class="block w-full shadow-sm py-3 px-4 placeholder-gray-500
                focus:ring-teal-500 focus:border-teal-500 border-gray-300
                rounded-md font-medium"
                placeholder="Full name *"
                required
              />
            </div>
            <div>
              <label for="email" class="sr-only">
                Email
              </label>
              <input
                id="email"
                name="email"
                type="email"
                class="block w-full shadow-sm py-3 px-4 placeholder-gray-500
                focus:ring-teal-500 focus:border-teal-500 border-gray-300
                rounded-md font-medium"
                placeholder="Email *"
                required
              />
            </div>
            <div>
              <label for="phone" class="sr-only">
                Phone
              </label>
              <input
                id="phone"
                name="phone"
                type="text"
                class="block w-full shadow-sm py-3 px-4 placeholder-gray-500
                focus:ring-teal-500 focus:border-teal-500 border-gray-300
                rounded-md font-medium"
                placeholder="Phone"
              />
            </div>
            <div>
              <label for="message" class="sr-only">
                Message
              </label>
              <div class="relative rounded-md shadow-sm">
                <textarea
                  id="message"
                  name="message"
                  rows="4"
                  class="block w-full shadow-sm py-3 px-4 placeholder-gray-500
                  focus:ring-teal-500 focus:border-teal-500 border-gray-300
                  rounded-md font-medium"
                  placeholder="Message *"
                  required
                ></textarea>
              </div>
            </div>
            <div>
              <button
                type="submit"
                class="inline-flex justify-center py-3 px-6 border
                border-transparent shadow-sm text-base font-semibold rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"
              >
              Submit
            </div>
            <div>
              <p class="text-base leading-6 text-gray-400">
                * Mandatory fields
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
